server:
  port: 8082

spring:
  application:
    name: lagou-service-resume

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://120.77.147.222:3306/lg_edu?useUnicode=true&characterEncoding=utf8
    username: root
    password: 123456
  jpa:
    database: MySQL
    show-sql: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl  #避免将驼峰命名转换为下划线命名

#注册到eureka注册中心
eureka:
  client:
    service-url:
      #集群模式
      defaultZone: http://eureka01:8761/eureka,http://eureka02:8762/eureka
  instance:
    prefer-ip-address: true #使用ip注册 否则就使用主机名(兼容老的版本，老版本显示主机名)
    #自定义实例显示格式，加上版本号
    instance-id: ${spring.cloud.client.ipaddress}:${spring.application.name}:${server.port}:@project.version@

    #自定义元数据
    metadata-map:
      k1: v1
      k2: v2
